### Practice1.1

In [2]:
#1. Use 355 divided by 113 and print "Answer to the calculation with 7 decimal places is: "

Answer to the calculation with 7 decimal places is: 3.1415929

In [3]:
import math
e = math.e
#2. Now print "e to 10 decimal places: ", followed by the
#numerical value of e out to 10 decimal places, using
#string formatting and e, defined above

e to 10 decimal places: 2.7182818285

In [ ]:
#3. The first paragraph of UoT Wikipedia article:
wiki_intro = "The University of Toronto (U of T, or UToronto) is a public research university in Toronto,"\
            " Ontario, Canada, located on the grounds that surround Queen's Park. It was founded by royal"\
            "charter in 1827 as King's College, the first institution of higher learning in the colony of Upper Canada"
#set xyz to equal the 71th through 73th characters
#of the wiki_intro string. Note that wiki_intro uses linebreaks
#(backslashes \) to make this long string easier to read. The
#linebreaks don't count as a character in the string

In [ ]:
#4. set wiki_intro_nospaces to equal wiki_intro, but with *ALL* of
#the spaces removed

In [ ]:
#5. remember we have errors when trying to float('$135.20'). 
#use replace method to solve this and convert '135.20' to float

In [ ]:
#6. 
superprime = False
long_standing_customer = True
large_down_payment = True
#Set 'mortgage_approved' equal to true when 'superprime'
#is True *or* when both 'long_standing_customer'
#and 'large_down_payment' are True.

In [1]:
#7 
FICO = 712

#Set credit_description = "good" if FICO is greater than or
#equal to 700, credit_description = "ok" if FICO is less than
#700 but greater than or equal to 600, and
#credit_description = "bad" if FICO is less than 600